<header class="header">

    <div class="header__contenedor">

        <!-- barra -->
        <app-nav-bar></app-nav-bar>

        <!-- modelo -->
        <div class="modelo">
            <h1 class="modelo__nombre">Modelo VAI</h1>
            <p class="modelo__descripcion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Amet, suscipit, facere odit placeat molestiae officiis
                recusandae sapiente neque ipsam quisquam totam non beatae
                ab nisi consectetur quos, itaque alias tenetur!
            </p>
            <p class="modelo__precio">
                $399
            </p>

            <a class="modelo__enlace" routerLink="/clientes/instrumento">Ver Producto</a>
        </div>

    </div>
    <!-- modelo-img -->
    <img class="header__producto" src="assets/header_guitarra.png" alt="imagen gitarra">
</header>
