<div class="contenedor filtros">
    <div class="filtros__encabezado">
        <h2 class="filtros__title" >Categorias populares</h2>
        <button class="btn-Original">Ver más...</button>
    </div>
    
    <div class="listado-modelos ">
        <div class="modelo modelo-w">
            <h3>Teclas</h3>
        </div>

        <div class="modelo modelo-x">
            <h3>Guitarras eléctricas</h3>
        </div>

        <div class="modelo modelo-y">
            <h3>Percusión</h3>
        </div>
        
        <div class="modelo modelo-z">
            <h3>Viento</h3>
        </div>
    </div>
</div>