* {
    font-family: "Roboto", sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.contenido {
    display: flex;
}

.izquierda-column .precio{
    width: 200px; /* Ajusta el ancho de la barra de filtros */
    padding: 10px;
    border-radius: 5px;
}

.opciones-filtros h4 {
    margin: 0 0 10px 0;
}

.opciones-filtros a {
    color: #f97316; /* Color del enlace */
    text-decoration: none;
}

.opciones-filtros a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

.derecha-column {
    flex-grow: 1; /* Ocupa el resto del espacio disponible */
    padding: 10px;
}

.derecha-column h2 {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    font-size: 4rem; /* Tamaño de fuente */
    color: white; /* Color del texto */
    margin-bottom: 15px; /* Espacio debajo del encabezado */
    
}



