.carrusel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.listado-productos {
    display: grid;
    grid-auto-flow: column; /* Organiza los productos en una sola fila horizontal */
    gap: 3rem;
    transition: transform 0.5s ease; /* Añade una transición suave */
    width: 100%; /* Ajusta el ancho total */
}

@media(min-width: 768px) {
    .listado-productos {
        grid-template-columns: repeat(2, 1fr); /* Muestra 2 productos por pantalla */
    }
}

@media(min-width: 1024px) {
    .listado-productos {
        grid-template-columns: repeat(3, 1fr); /* Muestra 3 productos por pantalla */
    }
}

@media(min-width: 1268px) {
    .listado-productos {
        grid-template-columns: repeat(4, 1fr); /* Muestra 4 productos por pantalla */
    }
}

.carrusel__flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.carrusel__flecha--izquierda {
    left: 10px;
}

.carrusel__flecha--derecha {
    right: 10px;
}

.carrusel__flecha:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
