<app-nav-bar></app-nav-bar>
<header>
    <h1>Adminstracion Productos</h1>
</header>
<body>
    <div class="cajabuscar">
        <fieldset>
            <input type="text" id="s" value="" placeholder="Buscar"/>
            <button id="btnBuscar"><img id="ico" src="assets/lupa.png" alt=""></button>
        </fieldset>
    </div>
    <br>
    <section class="tblProducto">
        <table>
            <tr>
                <td>Imagen</td>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Cantidad</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </section>

 </body>

