<form [formGroup]="productoFormulario" (ngSubmit)="onSubmit()" class="product-card">
  <button class="btn-Cerrar" (click)="cerrarVentana()"><u>Cerrar</u></button>
  <h2>
    <input id="txt-nombre" formControlName="nombre" [value]="producto?.nombre || ''" />
  </h2>
  <p><strong>Descripción:</strong>
    <textarea cols="50" rows="5"  formControlName="descripcion" [value]="producto?.descripcion || ''"></textarea>
  </p>
  <p><strong>Categoría:</strong>
    <input formControlName="categoria" [value]="producto?.categoria || ''" />
  </p>
  <p><strong>Precio:</strong>
    <input type="number" formControlName="precio" [value]="producto?.precio || 0" />
  </p>
  <p><strong>Cantidad:</strong>
    <input type="number" formControlName="cantidad" [value]="producto?.cantidad || 0" />
  </p>
  <p><strong>Estante:</strong>
    <input formControlName="estante" [value]="producto?.estante || ''" />
  </p>
  <p><strong>Sección:</strong>
    <input formControlName="seccionEstante" [value]="producto?.seccionEstante || ''" />
  </p>
  <h3>Imágenes</h3>
  <input formControlName="imagen" [value]="producto?.imagen || ''" />
  <img [src]="productoFormulario.get('imagen')?.value" alt="Imagen de {{ producto?.nombre }}" class="product-image">
  <br><br>
  <button type="submit" class="btn-Guardar">Guardar</button>
  <button class="btn-Cancelar" (click)="cerrarVentana()">Cancelar</button>
</form>

