.busqueda-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Ocupa toda la altura de la ventana */
  }
  
  form {
    display: flex;
  }
  
  input {
    padding: 0.1rem;
    font-size: 1.6rem;
    margin-right: 0.1rem;
  }
  
  button {
    padding: 0.1rem;
    font-size: 1.6rem;
  }