<nav class="nav">

    <div class="hamburger">
        <button 
            class="hamburger__btn"
            (click)="onShowMenu()"
        >
            <img src="assets/menu.svg" alt="menu icon">
        </button>
    </div>

    <div class="nav__logo">
        <h1 class="logo">logo</h1>
    </div>


    <div class="nav__links" [ngClass]="{'nav__links--show':showMenu}">
        <a class="nav__enlace" routerLink="/clientes/inicio" routerLinkActive="active-link" >Inicio</a>
        <a class="nav__enlace" routerLink="/clientes/instrumentos" routerLinkActive="active-link" >Instrumentos</a>
        <a class="nav__enlace" routerLink="/clientes/nosotros" routerLinkActive="active-link" >Nosotros</a>
        <a class="nav__enlace" routerLink="/auth" >Iniciar Sesión</a>
        <div class="hamburger--close">
            <button 
                class="hamburger__btn"
                (click)="onShowMenu()"
            >
                <img src="assets/close.svg" alt="menu icon">
            </button>
        </div>
    </div>

    <div class="nav__cart">
        <a routerLink="/clientes/carrito">
            <img src="assets/iconCarrito.svg" alt="icono carrito">
        </a>
    </div>


</nav>