<div class="producto">
    <div class="producto__imagen">
        <!-- <img src="/assets/guitarra_04.jpg" alt="imagen producto"> -->
    </div>

    <div class="producto__contenido">
        <h3 class="producto__nombre">{{producto.nombre}}</h3>
        <p class="producto__descripcion">
            {{producto.descripcion}}
        </p>
        <p class="producto__precio">
            ${{producto.precio}}
        </p>
        <a class="producto__enlace" routerLink="/clientes/instrumento/{{producto._id}}">Ver Producto</a>
    </div>
</div><!-- .producto -->
