<div class="producto">
    <div class="producto__imagen">
        <!-- <img src="/assets/guitarra_04.jpg" alt="imagen producto"> -->
    </div>

    <div class="producto__contenido">
        <h3 class="producto__nombre">Lukather</h3>
        <p class="producto__descripcion">
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Ullam veniam omnis 
            praesentium.
        </p>
        <p class="producto__precio">
            $299
        </p>
        <a class="producto__enlace" routerLink="/clientes/instrumento">Ver Producto</a>
    </div>
</div><!-- .producto -->
