.formulario-contenedor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.formulario card {
  border-radius: 1rem;
  overflow: hidden;
}

.mat-mdc-card {
  background-color: var(--blanco);
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: var(--blanco);
  border-radius: .5rem;


}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}


.c-azl {
  color: var(--azul);
}

.mat-step-icon-selected {
  background-color: var(--naranja);
}

a,[input="submit"]{
  font-size: 1.6rem;
}

.btns {
    gap: 3rem;
}