<app-header></app-header>

@defer {
    <section>
        <app-filters></app-filters>
    </section>
    
    <main class="bg-blanco">
        <div class="contenedor productos">
            <h2 class="productos__title">Productos nuevos</h2>
            <app-listado-productos [productos]="productosNvs" ></app-listado-productos>
        </div>
    </main>
    
    <app-hero-nosotros></app-hero-nosotros>
    
    <section class="bg-blanco">
        <div class="contenedor productos">
            <h2 class="productos__title">Más vendidos</h2>
            <app-listado-productos [productos]="productosNvs" ></app-listado-productos>
        </div>
    </section>
    
    <app-footer></app-footer>
}