<table>
    <thead>
      <tr>
        <th>Nombre del Producto</th>
        <th>Tipo</th>
        <th>Costo</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productos of producto">
        <td>{{ productos.nombre }}</td>
        <td>{{ productos.categoria }}</td>
        <td>{{ productos.precio| currency }}</td>
        <td>{{ productos.cantidad }}</td>
        <td>
          <button (click)="editProduct(productos)">Modificar</button>
          <button (click)="deleteProduct(productos._id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
