<div class="cont-boton">
  <button id="btn-Agregar" (click)="crearProducto()"><strong>Agregar Producto!</strong></button>
</div>

<table>
    <thead>
      <tr>
        <th>Nombre del Producto</th>
        <th>Tipo</th>
        <th>Costo</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productos of producto">
        <td>{{ productos.nombre }}</td>
        <td>{{ productos.categoria }}</td>
        <td>{{ productos.precio| currency }}</td>
        <td>{{ productos.cantidad }}</td>
        <td id="col-acciones">
          <button id="btn-editar" (click)="editProduct(productos)">Modificar</button>
          <button id="btn-eliminar" (click)="deleteProduct(productos._id!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
